.header {
  display: flex;
  justify-content: space-between;
  background-color: $color-bone;

  &-fixed {
    &-wm {
      color: $color-black;
    }
    &-ul {
      position: fixed;
      list-style: none;
      #red {
        color: $color-red;
      }
    }
  }

  &-title {
    text-align: center;
    color: $color-black;
    &-direc {
      @include fontWeb(10px, $color-shade, 25px);
      #black {
        color: $color-black;
      }
    }
  }

  &-find{

    &-filter{
      display: flex;
      list-style: none;
    }
  }
  
}
