.main {
  &-gallery {
    @include distroTarget();
    &-target {
      text-align: center;
      margin: 10px;
      width: 20%;
      .img {
        width: 100%;
      }
    }
  }
  &-discount {
    @include centerFont();
    padding: 25px;
    #email {
      color: $color-black;
      margin-top: 30px;
      margin-bottom: 10px;
      &:hover {
        color: $color-green;
      }
    }
  }
  &-contact {
    @include centerFont();
    &-channels {
      display: flex;
      margin: 5px;
      & p {
        margin: 10px;
      }
    }
  }
}
