//Conjunto de codigo usa variables va debajo de _var para poder usar las variables

//Ejemplo pasar variables
@mixin fontWeb($size, $color, $height){
    font-family: $font-web;
    font-size: $size;
    color: $color;
    line-height: $height;
}


@mixin centerFont(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin distroTarget(){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin distroHeader(){
display: flex;
justify-content: space-between;
background-color: $color-bone;
}
 